/*
 * myPosition.css
 *
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
}
div#position, div#distance {
	padding: 5px;
}

div#map {
	margin: 5px;
	width: 400px;
	height: 400px;
	border: 1px solid black;
}

